<launch>
    <!-- 启动SLAM节点 -->
    <include file="$(find gmapping_demo)/launch/gmapping.launch" />
    <!-- 运行move_base节点 -->
    <include file="$(find movebase_demo)/launch/all.launch" />
    <!-- 运行rviz -->
    <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find movebase_demo)/rviz/movebase.rviz" /-->
</launch>
